<body>
<div class="navbar">
    <p class=top>Help-Line-Number:18006644900</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="container">
    <div class="header">
      <h1>LogIn</h1>
    </div>
    <div class="main">
      
        <span>
          <input type="text" name="accno" formControlName="accno"  placeholder="Account Number" >
        </span><br>
        <div *ngIf="(this.loginForm.get('accno')?.touched || this.loginForm.get('accno')?.dirty) && this.loginForm.get('accno')?.errors" id="errors">invalid account number</div>
        <span>
          <input type="password" name="pwd" formControlName="pwd" placeholder="Password" >
        </span><br>
        <div *ngIf="(this.loginForm.get('pwd')?.touched || this.loginForm.get('pwd')?.dirty) && this.loginForm.get('pwd')?.errors" id="errors">invalid password</div>
        <button class="col" type="submit">Log in</button>
        <div><p>Not registered yet?<a routerLink='register'>SignUp</a></p></div>
      
    </div>
  </div>
</form>
</body>
