.navbar {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 17px #fff;
}
.top {
    display: flex;
    justify-content: end;
    color: white;
    letter-spacing: 4px;
}
th,td {
    width:250px;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding-left: 38px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 15px;
    color: white;
    box-shadow: 0 0 17px #fff;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.tr_table {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}