<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ICICI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payment History</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <a >Withdrwal</a>
              
              <a class="dropdown-item" >Deposite</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="#">help desk</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">Balance</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div style="width:30%">
  <h1>Deposite</h1>
  <form >
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Account No.</span>
      </div>
      <input type="text" class="form-control" placeholder="account number" required>
      
    </div >
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input type="password" class="form-control" placeholder="Password" required>
      
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">amount</span>
      </div>
      <input type="text" class="form-control" placeholder="amount" required>
      
    </div>

    <div class="form-group">
      <input type="submit" value="Deposite" class="btn float-right login_btn bg-info" style="width:50% ; border: 1px solid black;">
    </div>
  </form>
</div>
<div style="width:30%">
  <h1>Transfer</h1>
  <form >
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Account No.</span>
      </div>
      <input type="text" class="form-control" placeholder="account number" required>
      
    </div >
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input type="password" class="form-control" placeholder="Password" required>
      
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">amount</span>
      </div>
      <input type="text" class="form-control" placeholder="amount" required>
      
    </div>

    <div class="form-group">
      <input type="submit" value="Transfer" class="btn float-right login_btn bg-info" style="width:50% ; border: 1px solid black;">
    </div>
  </form>
</div>