
.container {
    width: 400px;
    height: 550px;
    margin: 7% auto;
    border-radius: 25px;
    background-color:rgba(0,0,0,0.3) ;
    box-shadow: 0 0 17px #fff;

}
.navbar {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 17px #fff;
}
.top {
    display: flex;
    justify-content: end;
    color: white;
    letter-spacing: 4px;
}
.header {
    text-align: center;
    padding: 15px;
}
.header h1 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
}
.main {
    text-align: center;
}
#errors {
    color: red;
}
.main input,button {
    width:250px;
    height: 45px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding-left: 38px;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 15px;
    color: white;
    box-shadow: 0 0 17px #fff;
}
.main button {
    padding-left: 0;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 30px;

}
main button:hover {
    box-shadow: 2px 2px 5px #fff;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
}
.main span {
    position: relative;
}
.main i {
    position: absolute;
    left: 15px;
    color: #fff;
    font-size: 16px;
    top:2px
}
.col {
    color: #fff;
}
p {
    color: #fff;
    font-weight: bold;
}
a {
    text-decoration: none;
    color:hsla(0, 0%, 100%, 0.76);
}