
<div class="main">
        
    <h1>register</h1><br><br><br>
    <div>
        <label for="user">username:</label>
        <input type="text" [value]="user" [(ngModel)] ="user" id="account_no"><br><br><br> 
    <label for="account_no">Account Number:</label>
    <input type="text" [value]="accno" [(ngModel)] ="accno" id="account_no"><br><br><br>
    <label for="password">Password:</label>
    <input type="text" [(ngModel)] ="pwd" id="password"><br><br><br>          
    
    <button type="button" (click)="register()">Register</button>
    
</div>
    
    

</div>
